body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
/* ----------- iPhone 6, 6S, 7 and 8 ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 

}

/* Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) { 

}

/* ----------- iPhone 6, 6S, 7 and 8 ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 

}

/* Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) { 

}

svg {
  width: auto;
  height: auto;
  background-color: #BAE3f9;
}

rect {
stroke: #ffffff; 
stroke-width:5; 
fill:#00A0E9"
}

circle {
  fill: red;
  opacity: 0.5;
}

text {
  font-family: sans-serif;
  font-weight: bold;
  font-size: 10pt;
}

#svg_line svg {
  width: 600px;
  height: 300px;
  background-color: #BAE3f9;
} 
path {
  stroke: #00a0e9;
  stroke-width: 2px;
  fill: none;
}

#wrapper {
  width: 900px;
  height: 500px;
  font-size: 2px;
  font: "Lucida Grande", Helvetica, Arial, sans-serif;
}

#wrapper g rect {
  stroke: aqua;
  stroke-width: 2px;
  opacity: 0.1;
}

#wrapper g circle {
  fill: red;
  opacity: 0.5;
}

#wrapper g text {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
  font-weight: lighter;
}

#axis {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
  font-weight: lighter;
  
}


#wrapper1 {
  width: 900px;
  height: 500px;
  font-size: 2px;
  font: "Lucida Grande", Helvetica, Arial, sans-serif;
}

#wrapper1 g rect {
  stroke: aqua;
  stroke-width: 1px;
  opacity: 1;
}
